.navbar {
  background-image: -o-linear-gradient(right, #f7f7f7 25%, #adadad 50%, #f7f7f6 75%);
  background-image: -moz-linear-gradient(right, #f7f7f7 25%, #adadad 50%, #f7f7f6 75%);
  background-image: -webkit-linear-gradient(right, #f7f7f7 25%, #adadad 50%, #f7f7f6 75%);
  background-image: -ms-linear-gradient(right, #f7f7f7 25%, #adadad 50%, #f7f7f6 75%);
  background-image: linear-gradient(to right, #f7f7f7 5%, #adadad 50%, #f7f7f6 95%);
}
.wh-timeline {
  position: relative;
}
.wh-timeline,
.wh-timeline * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wh-timeline label,
.wh-timeline button {
  cursor: pointer;
}
.wh-timeline .wh-timeline-config {
  position: absolute;
  z-index: 100000;
  top: -527px;
  left: 50%;
  display: block;
  width: 630px;
  max-width: 630px;
  height: 522px;
  margin-left: -315px;
}
.wh-timeline .wh-timeline-config .wh-timeline-config-close {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.wh-timeline .wh-timeline-config .ui-datepicker-inline,
.wh-timeline .wh-timeline-config timepicker-unix > table,
.wh-timeline .wh-timeline-config datepicker-inputs > table {
  margin: 0 auto;
}
.wh-timeline .wh-timeline-config datepicker-inputs > table {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wh-timeline .wh-timeline-config .ui-datepicker {
  height: 237px;
}
.wh-timeline .wh-timeline-config.point {
  position: absolute;
  z-index: 100000;
  top: -497px;
  left: 50%;
  display: block;
  width: 315px;
  max-width: 315px;
  height: 492px;
  margin-left: -157.5px;
}
.wh-timeline .wh-timeline-config.point .wh-timeline-config-close {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.wh-timeline .wh-timeline-config.point .ui-datepicker-inline,
.wh-timeline .wh-timeline-config.point timepicker-unix > table,
.wh-timeline .wh-timeline-config.point datepicker-inputs > table {
  margin: 0 auto;
}
.wh-timeline .wh-timeline-config.point datepicker-inputs > table {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wh-timeline .wh-timeline-config.point .ui-datepicker {
  height: 237px;
}
@media screen and (max-width: 800px), screen and (max-height: 900px) {
  .wh-timeline .wh-timeline-config.point {
    position: absolute;
    z-index: 100000;
    top: -435px;
    left: 50%;
    display: block;
    width: 315px;
    max-width: 315px;
    height: 430px;
    margin-left: -157.5px;
  }
  .wh-timeline .wh-timeline-config.point .wh-timeline-config-close {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }
  .wh-timeline .wh-timeline-config.point .ui-datepicker-inline,
  .wh-timeline .wh-timeline-config.point timepicker-unix > table,
  .wh-timeline .wh-timeline-config.point datepicker-inputs > table {
    margin: 0 auto;
  }
  .wh-timeline .wh-timeline-config.point datepicker-inputs > table {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wh-timeline .wh-timeline-config.point .ui-datepicker {
    height: 237px;
  }
  .wh-timeline .wh-timeline-config {
    position: absolute;
    z-index: 100000;
    top: -465px;
    left: 50%;
    display: block;
    width: 440px;
    max-width: 440px;
    height: 460px;
    margin-left: -220px;
  }
  .wh-timeline .wh-timeline-config .wh-timeline-config-close {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }
  .wh-timeline .wh-timeline-config .ui-datepicker-inline,
  .wh-timeline .wh-timeline-config timepicker-unix > table,
  .wh-timeline .wh-timeline-config datepicker-inputs > table {
    margin: 0 auto;
  }
  .wh-timeline .wh-timeline-config datepicker-inputs > table {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .wh-timeline .wh-timeline-config .ui-datepicker {
    height: 237px;
  }
  .wh-timeline .wh-timeline-config .ui-datepicker {
    width: 14em;
    height: 188px !important;
  }
  .wh-timeline .wh-timeline-config .ui-datepicker td .ui-state-default {
    padding: 0px;
  }
  .wh-timeline .wh-timeline-config datepicker-inputs > table {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .wh-timeline .wh-timeline-config input {
    height: auto;
    padding: 2px 12px;
  }
}
.wh-timeline .wh-timeline-warning {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 105;
  display: none;
  padding: 4px;
  box-sizing: border-box;
  width: 350px;
  margin-left: -175px;
  text-align: center;
  color: #F00;
  background: #FFF;
  border: 2px solid #f00;
  box-shadow: 0 0 15px #000;
}
.wh-timeline .wh-timeline-side {
  float: left;
  width: 65px;
}
.wh-timeline .wh-timeline-side .wh-timeline-perspective {
  text-align: center;
}
.wh-timeline .wh-timeline-side .wh-timeline-perspective label {
  display: block;
  width: 65px;
  text-align: center;
  margin: 4px 0;
}
.wh-timeline .wh-timeline-side .wh-timeline-perspective button {
  width: 65px;
  height: 65px;
  font-size: 18px;
}
.wh-timeline .wh-timeline-widget {
  position: relative;
  min-width: 50px;
  height: 240px;
  margin-left: 65px;
  padding-left: 25px;
  cursor: default;
}
.wh-timeline .wh-timeline-widget .overlay-x {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wh-timeline .wh-timeline-widget .overlay-y {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.wh-timeline .wh-timeline-widget .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.wh-timeline .wh-timeline-widget .chart-area {
  box-sizing: border-box;
}
.wh-timeline .wh-timeline-widget .state-data {
  z-index: 60;
  overflow: hidden;
  background: #F3F3F3;
}
.wh-timeline .wh-timeline-widget .state-data .state {
  position: absolute;
  height: 100%;
}
.wh-timeline .wh-timeline-widget .state-data .state.missing {
  background: #FFEAEA;
}
.wh-timeline .wh-timeline-widget .state-data .state.computing {
  background: #FFFFE3;
}
.wh-timeline .wh-timeline-widget .state-data .state.loaded {
  background: #EAFFEF;
}
.wh-timeline .wh-timeline-widget .chart-area {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 130px;
}
.wh-timeline .wh-timeline-widget .chart-area .selections {
  z-index: 80;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area {
  position: absolute;
  height: 100%;
  cursor: move;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .resize-handler {
  position: absolute;
  z-index: 89;
  top: 50%;
  width: 7px;
  height: 33px;
  margin-top: -16.5px;
  cursor: ew-resize;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .resize-handler.left {
  left: -6px;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .resize-handler.right {
  right: -6px;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .resize-handler svg path {
  fill: #eee;
  stroke: #666;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .fixation-delimiter {
  position: absolute;
  z-index: 90;
  top: 0;
  width: 1px;
  height: 100%;
  background: #000;
  box-shadow: 0px 0 3px #000;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .fixation-delimiter.left {
  left: 0;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area .fixation-delimiter.right {
  right: 0;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area.point {
  width: 1px !important;
  background: #000;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area.point .resize-handler.right {
  display: none;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area.point .fixation-delimiter {
  display: none;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area.sticky,
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area.sticky .resize-handler {
  cursor: default;
}
.wh-timeline .wh-timeline-widget .chart-area .selections .selection-area.period {
  background: rgba(0, 255, 255, 0.6);
}
.wh-timeline .wh-timeline-widget .svg-area {
  z-index: 70;
  overflow: hidden;
}
.wh-timeline .wh-timeline-widget .svg-area .y-axis-pane {
  position: absolute;
  z-index: 88;
  width: 26px;
  height: 100%;
}
.wh-timeline .wh-timeline-widget .svg-area .y-axis-pane svg {
  position: absolute;
  right: -1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .wh-timeline .wh-timeline-widget .svg-area .y-axis-pane svg {
    right: 0px;
  }
}
.wh-timeline .wh-timeline-widget .svg-area .x.axis {
  position: relative;
  z-index: 87;
}
.wh-timeline .wh-timeline-widget .svg-area svg .axis {
  font: 10px sans-serif;
  z-index: 101;
}
.wh-timeline .wh-timeline-widget .svg-area svg .axis path,
.wh-timeline .wh-timeline-widget .svg-area svg .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane {
  position: relative;
  height: 240px;
  margin-left: 25px;
  overflow: hidden;
  background: #FFF;
  border-left: 1px dashed #000;
  border-right: 1px dashed #000;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  height: 240px;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .x-axis-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  top: 130px;
  height: 110px;
  left: 1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
  .wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .x-axis-pane {
    left: 0px;
  }
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg .axis.x path {
  display: none;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg .bar {
  position: absolute;
  border: 1px solid #fff;
  box-sizing: content-box;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg.inactive {
  z-index: 100;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg.inactive .bar {
  background: #808080;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg.active.secondary .axis {
  display: none;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg.active.secondary .bar {
  background: brown;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg.active.main .bar {
  background: #4682b4;
  opacity: 0.8;
}
.wh-timeline .wh-timeline-widget .svg-area .chart-pane .chart-viewport .charts-themselves .svg.active.main .bar:hover {
  opacity: 0.5;
}
.wh-timeline-debug {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.wh-timeline-debug h1,
.wh-timeline-debug h2,
.wh-timeline-debug h3,
.wh-timeline-debug h4,
.wh-timeline-debug h5,
.wh-timeline-debug h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1em;
}
.wh-timeline-debug table {
  border-spacing: 0;
  border-collapse: collapse;
}
.wh-timeline-debug table td {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  vertical-align: top;
}
