<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Timeline</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

        <!-- build:css styles/vendor.css -->
        <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="bower_components/jquery-ui-bootstrap/jquery.ui.theme.css">
        <!-- endbuild -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <style>
            body {
                background: #fafafa;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
            }

            h4 {
                margin: 0;
            }
        </style>
    </head>
    <body ng-controller="TimelineController" ng-cloak style="padding-left: 20px">
        <div class="container">

            <h2>
                Timeline:
            </h2>
            <button ng-click="addData()" ng-hide="steps.length == currentStep" class="btn btn-default">Get more data!</button>

            <wh:timeline-debug config="timelineConfig"></wh:timeline-debug>
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <wh:timeline ng-model="timelineConfig"></wh:timeline>
                </div>
            </nav>

        </div>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/angular-ui-date/src/date.js"></script>
        <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbuild -->

        <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>

        <!-- build:js scripts/wh-timeline.js -->
            <script src="scripts/angular.timepicker.js"></script>
            <script src="scripts/jquery-selectableArea.js"></script>
            <script src="scripts/wh-timeline.js?v=5"></script>
            <script src="scripts/wh-timeline-selection.js?v=5"></script>
            <script src="scripts/wh-timeline-chart.js?v=5"></script>
            <script src="scripts/wh-timeline-utils.js?v=5"></script>
        <!-- endbuild -->

        <script src="scripts/templates.js?v=5"></script>

        <!-- build:js scripts/app.js -->
            <script src="scripts/app.js?v=5"></script>
        <!-- endbuild -->
</body>
</html>
