
<div class="wh-timeline">
    <div class="wh-timeline-warning" ng-blink="zoomRejected">
        Ooops, zoom not possible, shrink your selection!
    </div>

    <div class="wh-timeline-config container-fluid popover top"
         ng-show="adjustingSelection"
         ng-class="ngModel.is_period ? 'period' : 'point'">

        <div class="arrow"></div>
        <h3 class="popover-title">
            Jakie ramy czasowe chcesz zaznaczyć?
            <button class="wh-timeline-ngModel-close pull-right btn btn-xs btn-danger" ng-click="adjustingSelection=false">X</button>
        </h3>
        <div class="popover-content">
            <wh:timeline-selection-config ng-model="ngModel"></wh:timeline-selection-config>
        </div>
    </div>

    <div class="wh-timeline-side">
        <button class="btn btn-default glyphicon glyphicon-wrench" ng-click="adjustingSelection = !adjustingSelection"></button>
        <wh:timeline-perspective-picker
                ng-model="ngModel"
                on-zoom-rejected="zoomRejected=true"
                ></wh:timeline-perspective-picker>
    </div>

    <div class="wh-timeline-widget">
        <div class="overlay chart-component">
            <div class="y-axis-pane"></div>
            <div class="chart-viewport">
                <div class="chart-pane">
                    <ul class="charts"></ul>
                    <div class="x-axis-pane"></div>

                    <div class="overlay state-data">
                        <ul ng-repeat="state in states" ng-style="{
                            'left':  state.left,
                            'width': state.width
                        }" class="state" ng-class="state.state"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-data-overlay">
            <wh:timeline-selections ng-model="ngModel" adjusting-selection="adjustingSelection"></wh:timeline-selections>
        </div>
    </div>

</div>
